body {
  background-color: #ffffff;
}

p {
    margin-left:30%;
    margin-right:30%;
    margin-top:3%;
    margin-bottom:3%;
    font-family:Segoe UI;
    font-size: 18px;
}

h1 {
    color:#46fb69;
    margin-left:25%;
    margin-right:25%;
    margin-top:3%;
    margin-bottom:5%;
    font-family:Segoe UI;
    font-size: 50px;
}

.button {
    border-bottom: 3px solid #ffffff;
    font-size: 18px;
    color:#ffffff;
    background-color: rgba(#ffffff, 0)
}

.notes {
    border-left:3px solid;
    border-left-color: #46fb69;
    background-color:#f1fbf5;
    font-family:Arial;
    font-size: 20px;
    margin-left: 30%;
    margin-right:30%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.notesp {
    font-family:Arial;
    font-size: 20px;
    margin-left: 20%;
    margin-right:20%;
    margin-top: 2%;
    margin-bottom: 2%;
}
